.data-card {
    text-align: center;
    background-color: #000;
    margin: 1rem;
    padding: 1rem;
    height: 80vh;
    font-weight: 400;
}
.data-card h2 {
    font-size: 80px;
    max-width: 900px;
    margin: 0 auto;
}

.data-card p {
    font-size: 28px;
    max-width: 900px;
    margin: 1rem auto;
    font-weight: 500;
    color: #aaa;
}

@media (min-width: 768px) {
    .data-card {
        margin: 2rem 2rem;
    }
}