*,
*::after,
*::before {
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, "Helvetica Neue", sans-serif,
    sans-serif;
  font-weight: 400;
  background: #000;
  color: white;
  max-width: 1280px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
}

a {
  list-style: none;
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 14px;
}

ul {
  margin: 0;
  padding-left: 0;
}

li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

button {
  border: none;
  cursor: pointer;
  padding: 0;
}
